*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    min-height: 100vh;
}

.main_section{
 
    padding: 100px 18px 64px 18px;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	height: 1.5rem;
	width: 15rem;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	height: 100%;
	width: 0%;
	opacity: 0;
	transition: 1s ease 0.3s;
}

@media only screen and (max-width: 400px) {
    *{
        font-size: 4vw;
    }

  }