*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    min-height: 100vh;
}

.main_section{
 
    padding: 100px 18px 64px 18px;
}

@media only screen and (max-width: 400px) {
    *{
        font-size: 4vw;
    }

  }